<div class="blogtitle">
<h1>WELCOME</h1>
</div>

<div id = "hexgroup1">
	<div class="hex1">
		<div class="hextop"></div>
		<div class="hexmid"></div>
		<div class="hexbottom"> </div>
	</div>

	<div class="hex2">
		<div class="hextop"></div>
		<div class="hexmid"></div>
		<div class="hexbottom"> </div>
	</div>

	<div class="hex3">
		<div class="hextop"></div>
		<div class="hexmid"></div>
		<div class="hexbottom"> </div>
	</div>
</div>