<div id="signup">
  <form action="/users/create" method="POST" class="user_news">

  	<div id="signupname">
    	<h3>SIGN UP</h3>
    </div>
    <div id="newname">
	    <input type="text" name="first_name" placeholder="First Name"/>

	    <input type="text" name="last_name" placeholder="Last Name"/>

	    <input type="text" name="username" placeholder="Username"/>
	</div>

	<div id="bio">
      	<textarea name="bio" placeholder="Bio"></textarea>
  	</div>

  	<div id="userbutton">
    	<button action="submit">Sign Up</button>
	</div>
  </form>
</div>