<div id="login">
<form action="/sessions/create" method="POST">

	<div id="loginname">
  <h1>LOG IN</h1>
</div>
	
	<div id="logininfo">	
  <input type="text" name="username" placeholder="Username" />
</div>

  <div id="loginbutton">
  <input type="submit" value="Login"/>
</div>

</form>
</div>